:root {
  --color-secondary: rgb(255, 119, 0);
  --color-primary: rgb(255, 68, 0); 
  --color-background: #282c34;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.brand {
  color: white;
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

.brand > span {
  font-size: 8rem;
  color: var(--color-primary);
}

.date {
  color: var(--color-secondary);
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

/* Containers */
.container {
  width: 80%;
  margin: 0 auto;
}

.container--small {
  width: 70%;
  margin: 0 auto;
}

.container--wide {
  width: 90%;
  margin: 0 auto;
}

.container--widest {
  width: 95%;
  margin: 0 auto;
}

/* ScrollBar */
::-webkit-scrollbar {
  height: auto;
  width: .75rem;
}
::-webkit-scrollbar-track {
  background-color: var(--color-secondary);
  border-radius: .75rem;
  border: 1px solid white;
}
::-webkit-scrollbar-thumb {
  background-color: white;
}

/* Buttons */
.btn {
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
  border-radius: 3rem;
  color: white;
  font-weight: bold;
  padding: .5rem;
  cursor: pointer;
}

.btn--white {
  background-color: white;
  border: 2px solid white;
  color: var(--color-primary);
}

.btn--outline {
  background-color: transparent;
  transition-duration: .2s;
}

.btn--exit {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  border-radius: .8rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.btn--exit:active {
  background-color: var(--color-secondary);
  color: white;
}

.btn--add {
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 0px 12px #646b79;
  font-size: 2.5rem;
}

.btn--add:active {
  transform: scale(.85);
}

.btn--add-meal {
  background: linear-gradient(to bottom right, var(--color-primary), var(--color-secondary));
  position: fixed;
  bottom: 17rem;
  right: 2rem;
}

.btn--add-workout {
  background-color: white;
  color: var(--color-primary);
  padding: 1rem 1.35rem;
  position: fixed;
  bottom: 11rem;
  right: 2rem;
}

/* Modals */
.modal {
  background-color: white;
  border-radius: 3.5rem;
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  visibility: hidden;
  transform: scale(0.1);
  transition: transform .3s, visibility .05s ease-in-out;
  z-index: 1;
}

.modal--small {
  height: 50vh;
}

.modal--primary {
  background-color: var(--color-primary);
}

.modal__title {
  color: white;
  text-align: center;
  font-size: 3rem;
}

.modal__title-primary {
  color: var(--color-primary);
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__inputs {
  display: flex;
  justify-content: center;
  width: 90%;
}

.tdee__inputs {
  text-align: center;
}

.tdee__inputs > input {
  margin: .5rem 0;
}

input {
  border-radius: .5rem;
  border: 1px solid var(--color-primary);
}

input[name=exercise] {
  width: 60%;
  margin-right: .75rem;
}

input[name=calories] {
  width: 20%;
}

input[name=meal] {
  width: 50%;
  margin-right: .5rem;
  border: 1px solid orange;
  padding: .5rem;
}

input[name=protein] {
  width: 20%;
  margin-left: .5rem;
}

.modal__btn {
  width: 10rem;
  margin-top: 1rem;
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(8px);
  cursor: pointer;
}

.modal__list {
  margin-top: 4rem;
  height: 33%;
  overflow-y: auto;
}


/* Lists */
.list {
  display: flex;
  justify-content: space-between;
}

.workout__text {
  color: var(--color-primary);
  margin: .5rem 0;
}

.total {
  color: var(--color-primary);
  font-weight: bold;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4rem;
  position: absolute;
  left: 0%;
  right: 0%;
  bottom: 18%
}

.total--meal {
  color: white;
  bottom: 3%;
}

.total__description {
  margin-bottom: .5rem;
}

.total__value {
  margin-top: 0;
}

.meal__text {
  color: white;
  margin: .5rem 0;
}

.meal__text--meal {
  min-width: 12rem;
}

.meal__text--calories {
  min-width: 7rem;
  text-align: right;
}

.meal__text--protein {
  min-width: 4.5rem;
  text-align: right;
  margin-right: .5rem;
}

.tdee {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin-top: 4rem;

}
